@page "/"

<PageTitle>Expense Tracker</PageTitle>

<div class="container">
    <h1>Welcome to Expense Tracker</h1>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Track Your Expenses</h5>
                    <p class="card-text">
                        Keep track of your daily expenses, categorize them, and stay on top of your finances.
                    </p>
                    <a href="/expenses" class="btn btn-primary">Manage Expenses</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Features</h5>
                    <ul class="list-unstyled">
                        <li><span class="oi oi-check text-success"></span> Add and manage expenses</li>
                        <li><span class="oi oi-check text-success"></span> Categorize your spending</li>
                        <li><span class="oi oi-check text-success"></span> View expense history</li>
                        <li><span class="oi oi-check text-success"></span> Track spending patterns</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
